<div class="container-form">
    <h2>Nuevo usuario</h2>

    <p *ngIf="error()" class="error-message">{{ error() }}</p>

    <div class="admin-grid">
        <div class="col-izq">
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" [(ngModel)]="nombre" placeholder="Nombre del usuario">
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" [(ngModel)]="clave" placeholder="•••••••">
            </div>
        </div>

        <div class="col-der">
            <h3>Privilegios</h3>
            <div class="checkbox-group">
                <label><input type="checkbox" [(ngModel)]="c_nuevo"> Nuevo dato</label>
                <label><input type="checkbox" [(ngModel)]="c_desplegar"> Desplegar</label>
                <label><input type="checkbox" [(ngModel)]="c_editar"> Editar</label>
                <label><input type="checkbox" [(ngModel)]="c_eliminar"> Eliminar</label>
                <label><input type="checkbox" [(ngModel)]="c_admin"> Administrador</label>
            </div>
        </div>
    </div>

    <div class="button-group-right">
        <button class="btn-cyan" (click)="guardarUsuario()">Almacenar</button>
        <button class="btn-grey" routerLink="/dashboard">Regresar</button>
    </div>
</div>
